.quote {
    position: absolute;
        top: 30%;
        bottom: 20%;
        right: 2%;
        left: 2%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 0 auto;
        padding: 20px;
        width: 70%;
        opacity: 0;
        animation: fadeIn 5s ease-in-out forwards;
        background-image: linear-gradient(135deg, #667eea, #764ba2);
        color: #fff;
        animation-delay: 0.5s;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
