.container {
  width: 50%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container .result {
  color: #fff;
  text-align: end;
  padding: 2rem;
  background-color: rgba(150, 147, 147, 0.8);
  grid-column: 1 / span 4;
}

.container > * {
  border: 0.5px solid rgb(215, 207, 207);
  text-align: center;
  padding: 2rem;
}

.key {
  background-color: rgba(128, 128, 128, 0.1);
}

.zero {
  grid-column: 1 / span 2;
}

.operator {
  background-color: #ff8000;
}
